<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733063390307-e9ptm040vinctpv9rtppu5e8r0631687.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733063390307-e9ptm040vinctpv9rtppu5e8r0631687</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ9-8E0eU8_tcCD1MQpo7UHnXNf-MiC0w</string>
	<key>GCM_SENDER_ID</key>
	<string>733063390307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Flash-Chat-iOS13-master</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1d7ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1d7ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733063390307:ios:4677e6b78d8b11617e4456</string>
</dict>
</plist>